<div class="parallax-container">
  <div class="parallax"><img src="images/image1.jpg" alt="cat and dog snuggling"></div>
</div>

<div class="section white">
  <div class="row container center">
    <p class="header">Make your selection below, and find your perfect pet!</p>
    <a href="#questions" class="waves-effect waves-light btn-large">Get Started</a>
  </div>
</div>


<div class="section-survey">
  <div class="row container center">
    <div class="col m12">
      <p> - QUESTION <span id="questionNo">1</span> OF 14 - </p>  
    {{#each questions}}
        <h4 id="q{{id}}" class="center">{{question}}</h4>
    {{/each}}
    </div>
  </div>
  <div class="progress">
      <div class="determinate" style="width: 70%"></div>
  </div>
</div>

<div id="answers" class="row container center white">
  <div class="col m12">
    <a class="btn-large answer-tile">
      <img src="/images/caticon.png" width="100px">
      <p>Cat</p>
    </a>
  </div>
    <a href="#next" class="waves-effect waves-light btn-large">Next Question</a>
</div>
</div>