
<div class="parallax-container">
    <div class="parallax"><img src="/images/image1.jpg" alt="cat and dog snuggling"></div>
</div>

<div class="section white">
    <div class="row container center">
        <h1>Results</h1>
        <div class="row container center">
            <h4>Top 5 Results</h4>

            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class= "activator" src="/images/image1.jpg">
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pet Name</span>
                        <p><a href="#">Link to petfind url</a></p>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pet Name<i class="material-icons right">close</i></span>
                        <p>About: Here is some more information about this product that is only revealed once clicked on.</p>
                        <a class="waves-effect waves-light btn">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>